@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.title {
  font-family: 'Press Start 2P', cursive !important;
  color: #fbd743;
}

.titleBox {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  background-color: #363b81;
}

.generations {
  width: 100%;
  display: flex;
}